page-mywords {
  .panel-date {
    
  }

  .panel-date button {
    background-color: whitesmoke;
    
  }

  .panel-words {
    background-color: #fff;
  }

  .panel-words button {
    background-color: #fff;
    text-transform: capitalize;
  }

  .panel-words .word {
    background-color: #fff;
  }
}